body {
    background: rgb(173,225,255);
    background: radial-gradient(circle, rgba(173,225,255,1) 50%, rgba(255,255,255,1) 100%);
}
.error {
    font-size: 120px;
    text-align: center;
    color: #38B6FF;
    font-family:sans-serif;
    margin-top: 10rem;
}

.allowed {
    font-size: 30px;
    text-align: center;
    color: black;
    font-family:sans-serif;
}

.get {
    margin-top: -0.5rem;
    font-size: 50px;
    text-align: center;
    color: black;
    font-family:sans-serif;
}

.logo {
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}



