body {
    background: rgb(179,254,210);
    background: radial-gradient(circle, rgba(179,254,210,1) 0%, rgba(156,189,228,1) 100%);
}
.err {
    font-size: 120px;
    text-align: center;
    color: white;
    font-family:sans-serif;
    margin-top: 15rem;
}

.try {
    font-size: 30px;
    text-align: center;
    color: #343b43;
    font-family:sans-serif;
}

.get {
    margin-top: -0.5rem;
    font-size: 50px;
    text-align: center;
    color:#343b43;
    font-family:sans-serif;
}