body {
    width: 250px;
}
h4 {
    margin-top: -12px;
    color: #38B6FF;
}
.todo-items,
.todo-items li{
    margin:0;
    padding: 0;
    font-size: 15px;
    list-style: none;
}
.todo-items li{
    padding: 10px;
    border-bottom: 2px solid grey;
    display: flex;
    justify-content: space-between;
}
.todo-items li:hover{
    background:rgba(0,0,0,0.25);
}
.todo-items li.done .item{
    text-decoration: line-through;
}
.todo-items div span {
    margin: 5px;
    font-size: 1rem;
    cursor: pointer;
}
.new-item {
    display: none;
}
button {
    background: #38B6FF;
    color: white;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 50px;
    font-weight: 700;
    font-size: small;
    box-shadow: 1px 1px rgb(20, 20, 20);
}
button:hover {
    cursor: pointer;
}